.css-hyum1k-MuiToolbar-root{
    align-items: normal;
    padding: '0'
}

@media (min-width: 600px) {
    .css-hyum1k-MuiToolbar-root {
        align-items: normal;
        padding: '0';
        background: linear-gradient(blue, lightblue);
    }
}